h1{
    font-family: monospace;
}
.container{
    width: 100%;
    display:flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    height: 100vh;
    
}

@keyframes actions{
   from {background-color: red;}
    to {background-color: yellow;}
}
.box{
    width: 350px;
    height: 350px;
    background-color: teal;
    margin: 10px;
    border-radius: 10px;
    transition: all 0.5s ;
    border: 2px solid darkkhaki;
    animation-name: actions;
   
}
.box:hover{
    background-color: turquoise;
}
